@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Super Admin - View List Student Table */
.overflow-x-auto {
  overflow-x: auto;
}

.registered-users-table {
  min-width: 650px;
}

@media (max-width: 768px) {
  .registered-users-table {
    min-width: 100%;
  }
  .registered-users-table th,
  .registered-users-table td {
    white-space: nowrap;
  }
}

#edit-students-modal.blurred-modal {
  background-color: rgba(211, 206, 206, 0.7);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#edit-students-modal .relative.bg-white {
  background-color: white;
}